/* Estilo del contenedor del tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip oculto por defecto */
  .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 150%; /* Ubicar debajo del botón */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
  }
  
  /* Flecha debajo del tooltip */
  .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* Mostrar el tooltip al pasar el cursor */
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  